//- - var navLinks = [{link: 'index.html', name: 'Home'},{link: 'about.html', name: 'About'}]

//- nav.nav
//-   ul.nav__list
//-     each item in navLinks
//-       if page==item.link
//-         li.nav__item.nav__item_active=item.name
//-       else
//-         li.nav__item
//-           a(href=item.link).nav__link=item.name