/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: $colorText;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@supports(scroll-behavior:smooth) {
  html {
    scroll-behavior: smooth;
  }
}

body, body *, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { list-style: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button { cursor: pointer; }

img {  
  text-align: center;
  max-width: 100%;
  height: auto;
}

/* Remove text-shadow in selection highlight/ */
::-moz-selection {
  background: #ffbac6;
  text-shadow: none;
}
::selection {
  background: #ffbac6;
  text-shadow: none;
}

/* Remove the gap between elements and the bottom of their containers */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Remove default fieldset styles. */
fieldset { border: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

.svg-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}