block vars

doctype html
html(lang="en")
  head
    block meta
      include ../partials/head.pug
    block styles
      link(rel="stylesheet", href="css/main.css")
    title=pageTitle

  body
    main
      block content

    block scripts
      script(src="js/main.js")