mixin button(text,link)
  a.btn(class="btn" href=link)=text

mixin submit(text)
  button.btn(class="btn" type='submit')=text

mixin list(items)
  ul
    for i in items
      li.list__item=i

mixin svg-icon(id)
  svg.svg-icon
    use(xlink:href="img/sprite.svg#" + id)